@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #2c3338;
    color: #000;
    font: 100%/1.5em "Varela Round", sans-serif;
    margin: 0;
    min-height: 100%;
}

input {
    background-image: none;
    border: none;
    font: 100%/1.5em "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.container {
    left: 50%;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main {
    width: 500px;
}

#main h2 {
    background: #0a9cf9;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
}

#main fieldset {
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;
}

#main fieldset p {
    color: #777;
    margin-bottom: 14px;
}

input {
    margin-top: 5px;
    border-radius: 3px;
    height: 30px;
}

#main fieldset input[type="text"] {
    background: #eee;
    color: #777;
    padding: 4px 10px;
    width: 100%;
}

input[type="submit"] {
    float: right;
    background: #33cc77;
    color: #fff;
    display: inline-block;
    margin: 5px auto 0;
    padding: 4px 0;
    width: 120px;
}

#main fieldset input[type="submit"]:hover {
    background: #28ad63;
}
